.txt {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.image {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 22rem;
    right: 10rem;
}

.team-img {
    width: 700px;
    height: 400px;
}

@media only screen and (max-width: 1400px) {
    .image {
        right: 4rem;
    }
    
    .team-img {
        width: 620px;
        height: 380px;
    }
}

@media only screen and (max-width: 1200px) {
    .image {
        right: 1rem;
        bottom: 18rem;
    }
    
    .team-img {
        width: 560px;
        height: 340px;
    }
}

@media only screen and (max-width: 992px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
    }
    .txt {
        display: flex;
        justify-content: unset;
        flex-direction: column;
    }
    .image {
        display: block;
        justify-content: unset;
        bottom: unset;
        right: unset;
        top: 3rem;
        margin-left: auto;
        margin-right: auto;        

    }    
    .team-img {
        width: 560px;
    }
}

@media only screen and (max-width: 768px) {
    .team-img {
        width: 500px;
    }
    .image {
        top: -1rem;
    }
}

@media only screen and (max-width: 576px) {
    .team-img {
        width: 300px;
        height: 200px;
    }
}

