.nav-title {
    padding-top: 3.20rem;
    padding-left: 3rem;
    color: #D2872C;
    font-weight: 700;
    font-size: 1.70rem;
}

.main-title {
    color: #766F68;
    font-weight: 700;
    font-size: 3.80rem;
    line-height: 4.20rem;
    padding-left: 5.20rem;
    padding-top: 7rem;
}

.main-title.-second {
    font-weight: 400;
    font-size: 1.60rem;
    line-height: 2rem;
    padding-left: 5.20rem;
    padding-top: 1.80rem;
}

@media only screen and (max-width: 1200px) {
    .main-title {
        font-size: 2.80rem;
        line-height: 3.60rem;
        padding-left: 5.70rem;
    }
    .main-title.-second {
        font-size: 1.40rem;
        line-height: 1.70rem;
        padding-left: 5.70rem;
        padding-top: 1.60rem;
    }
}

@media only screen and (max-width: 992px) {
    .main-title {
        font-size: 3.40rem;
        line-height: 3.80rem;
        padding-left: 0;
        padding-top: 6rem;
        text-align: center;
    }
    
    .main-title.-second {
        font-size: 1.50rem;
        line-height: 1.80rem;
        padding-left: 0;
        padding-top: 1.80rem;
    }
    .nav-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .main-title {
        font-size: 3rem;
        line-height: 3.60rem;
        padding-top: 2rem;
    }
    .main-title.-second {
        font-size: 1.40rem;
        line-height: 1.70rem;
    }
}

@media only screen and (max-width: 576px) {
    .main-title {
        font-size: 2.60rem;
        line-height: 3rem;
    }
    .main-title.-second {
        font-size: 1.30rem;
        line-height: 1.40rem;
    }
}